@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');


*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgba(45, 9, 75, 0.575);
    text-align: center;
    border: 5px;

}
.header{
    background-color: rgb(163, 13, 13);
    color: yellowgreen;
    display: grid;
    text-align: center;
    border: black solid 3px;
    font-family: 'Oswald', sans-serif;
}

h3{
    background-color: yellow;
    color: rgba(32, 12, 99, 0.863);
    border: black solid 5px;
    font-family: 'Oswald', sans-serif;
    
}
.submit{
   
    text-align: center;
}
